<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <title>CRUD Mongoose</title>
      <link rel="stylesheet" type="text/css" href="../css/styles.css" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="../js/index.js"></script>
   </head>
   <body>
      <div id="container">
         <div id="update_form_wrap">
            <p>Update current animal</p>
            <form action="/animal/edit/<%= DATA.id %>" method="PUT">
               Name: <input type="text" name="name" /> Age:
               <input type="number" name="age" />
               <button type="submit">Click me!</button>
            </form>
         </div>
         <div>
            <h3>Name: <%= DATA.name %></h3>
            <h4>Age: <%= DATA.age %></h4>
            <h5>Date: <%= DATA.date %></h5>
         </div>
         <div>
            <form action="/animal/destroy/<%= DATA.id %>" method="post">
               <button id="btn_delete" type="submit">
                  Delete Animal <%= DATA.id %>
               </button>
            </form>
         </div>
      </div>
   </body>
</html>
